*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
    COLORS
    rgb(181,184,189)
    rgb(119,122,127)
    rgb(26,56,120)
    rgb(22,38,71)
    rgb(28,27,32)
    COLORS
*/


.block {
    margin-left: 10%;
    width: 80%;
    height: 70vh;
    background-color: rgba(26,56,120, .7);
    border-radius: 10px;
    border: 1px solid rgb(181,184,189);
}

.application_image {
    margin-top: -50px;
    width: 98.7vw;
    height: 300vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*GENERAL FOR PAGES START*/

.button {
    border-radius: 5px;
    border: 1px solid rgb(181,184,189);
    background-color: rgb(26,56,120);
    color: rgb(181,184,189);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: rgb(22,38,71);
    border: 1px solid rgb(22,38,71);
}

/*GENERAL FOR PAGES END*/

/*ONE DAY STAT START*/
/*ONE DAY STAT END*/

/*CONTROL PAGE START*/

.application_control {
    display: block;
    padding-top: 50px;
}

.control_inner {
    margin: 10px;
    margin-top: 50px;
}

.control_buttons {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.control_button {
    width: 20%;
    height: 50px;
}

.control_search {
    margin: 0 10%;
    margin-top: 50px;
}

.search_geo {
    width: 70%;
    height: 70px;
    font-size: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(181,184,189);
    background-color: rgb(28,27,32);
    color: rgb(181,184,189);
}

.search_geo_send {
    width: 20%;
    height: 70px;
    font-size: 40px;
}

/*CONTROL PAGE END*/

/*WEATHER TODAY PAGE START*/

.weather_today {
    margin-top: -20px;
    margin-bottom: 100px;
}

.weather_today_wrap {
    position: relative;
}

.today_top {
    height: 70px;
    border-radius: 5px;
    border: 1px solid rgb(181,184,189);
    background-color: rgb(28,27,32);
    color: rgb(181,184,189);
    margin: 10px;
    display: inline-flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px 10% 0;
    line-height: 50px;
}

.today_left {
    position: absolute;
    left: 200px;
    text-align: center;
    
    border-radius: 5px;
    border: 1px solid rgb(181,184,189);
    background-color: rgb(28,27,32);
    color: rgb(181,184,189);
    margin: 10px;
}

.today_temperature_image {
    width: 100px;
    height: 100px;
}

.today_right {
    position: absolute;
    right: 200px;
    width: 30%;
    line-height: 50px;
    
    border-radius: 5px;
    border: 1px solid rgb(181,184,189);
    background-color: rgb(28,27,32);
    color: rgb(181,184,189);
    margin: 10px;
}


/*WEATHER TODAY PAGE END*/

/*WEATHER THREE PAGE START*/

.three_top {
    width: 80%;
    margin: 20px 10% 0;
    height: 70px;
    
    border-radius: 5px;
    border: 1px solid rgb(181,184,189);
    background-color: rgb(28,27,32);
    color: rgb(181,184,189);
    display: inline-flex;
    padding: 10px;
}

.three_title {
    width: 50%;
    text-align: center;
    font-size: 30px;
}

.three_day {
    width: 50%;
    text-align: center;
    font-size: 30px;
}

.three_wrap {
    border-radius: 5px;
    border: 1px solid rgb(181,184,189);
    background-color: rgb(28,27,32);
    color: rgb(181,184,189);
    display: inline-flex;
    justify-content: space-around;
    padding: 70px 0;
    margin: 10px 10%;
    width: 80%;
    height: 200px;
}

.three_wrap > div {
    width: 30%;
    text-align: center;
}


/*WEATHER THREE PAGE END*/

.error_message {
    text-align: center;
    padding: 100px 0;
    font-size: 40px;
    color: rgb(180,180,180);
    font-weight: 700;
    text-transform: uppercase;
}

/*GEO PAGE START*/

.geo {
    padding: 70px;
    font-size: 30px;
    color: rgb(181,184,189);
    text-align: center;
}

.geo_title, .geo_coord {
    display: inline-block;
}

.geo_map {
    border: 1px solid rgb(22,38,71);
    width: 80%;
    height: 250px;
    margin: 10px 10% 0;
}

/*GEO PAGE END*/

.active_button {
    background-color: rgb(22,38,71);
    border: 1px solid rgb(22,38,71);
}

.favicon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#map {
    width: 100%;
    height: 300px;
}